<head>
    <link rel="stylesheet" href="stylesheet.css">
    <title>Reyansh's hobbeys</title>
</head>

/* Change the background of the entire visible page */
body {
    background-color: #89d69e; /*  light green */
}

/* Style for all paragraphs */
p {
    color: darkgreen;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid green; /* Adds an green border around the heading */
    padding: 10px; /* Adds space inside the border */








