<head>
    <link rel="stylesheet" href="style.css">
    <title>Reyansh's hobbeys</title>
</head>

<head>
    <link rel="stylesheet" href="style.css">
    <title>My Cool Page Title</title>
</head>







